<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<center>
    <h2>New Product</h2>
    <form method="post" action="">
        Pid : <input type="number" name="pid" autofocus maxlength="5" required><br><br>
        Pname : <input type="text" name="pname"  max="50" min="10" required><br><br>
        Rate : <input type="number" name="rate" max="10000" required min="0"><br><br>
        <input type="submit">
    </form>
</center>
</body>
</html>