<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Admin</title>

</head>
<body>
Welcome Admin!!!!
<br><br>
<a href="{{url_for('delete')}}"><button type="button">Delete</button></a>
<br><br>
<a href="{{url_for('user_info')}}"><button type="button">User-info</button></a>
<center>
<a href="{{url_for('view')}}"><button type="button">View</button></a><br><br>
<a href="{{url_for('product_update')}}"><button type="button">Product_update</button></a><br><br>
<a href="{{url_for('addproduct')}}"><button type="button">Add product</button></a>
</center>
</body>
</html>